/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFFEF8;
  font-family: 'Work Sans';
  font-size: 14px;
}

main {
  max-width: 1140px;
  margin: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 150px 150px
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #B1663C
}

h1>span {
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
  ;
}

h2 {
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1D6154
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;

}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

#introduction {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}

#introduction figure {
  flex: 1
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  width: 404px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;

}

#contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#contact>* {
  text-align: center;

}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  resize: none;
}

input[type="submit"] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  background-color: white;
}

/* Style pour les boutons de filtre */
.filter-button {
  border: 1px solid #004d40;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  background-color: transparent;
  color: #004d40;
  cursor: pointer;
  font-family: 'Syne', sans-serif;
}

.filter-button:hover {
  background-color: #e0f2f1;
}

.filter-button.active {
  background-color: #004d40;
  color: #ffffff;
}

#filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Styles pour la page de connexion */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#login h2 {
  font-family: 'Syne', sans-serif;
  color: #004d40;
  margin-bottom: 20px;
}

#login form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#login label {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}

#login input[type="email"],
#login input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"] {
  padding: 10px;
  background-color: #004d40;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Syne', sans-serif;
}

#login input[type="submit"]:hover {
  background-color: #00332e;
}

#login a {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #3D3D3D;
  margin-top: 10px;
  text-decoration: none;
}

#login a:hover {
  text-decoration: underline;
}

#login-footer {
  margin-top: 19rem;
}

/* Mise à jour des styles de navigation */
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

nav ul li a.active {
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Styles pour l'image Instagram */
nav ul li img {
  width: 24px;
  height: 24px;
}

/* Styles pour le mode d'édition */
#admin-bar {
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  gap: 12px;
  padding: 20px 0;
  display: none;
}

#admin-bar p {
  margin: 0;
  font-family: 'work', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Styles pour le modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 50px 90px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
}

.modal-gallery {
  display: flex;
  flex-wrap: wrap;
}

.modal-content h2 {
  margin-top: 0;
  padding: 20px 0;
  color: black;
  font-size: 24px;
  font-family: 'work', sans-serif;
  font-weight: 400;
}

.back-button {
  position: absolute;
  top: 25px;
  left: 28px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.back-button:hover,
.back-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 25px;
  right: 28px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 20px;
  border-radius: 5px;
  background-color: #E8F1F6;
  cursor: pointer;
}

.fa-image {
  font-size: 80px;
  color: #B9C5CC;
}

.upload-label span {
  color: #306685;
  background-color: #CBD6DC;
  font-size: 16px;
  padding: 10px 33px;
  border-radius: 50px;
}

#photo-upload {
  display: none;
}

#add-photo-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#add-photo-form input,
#add-photo-form select {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
}

/* Styles pour le formulaire d'ajout de photo */
#add-photo-form select:focus {
  border-color: #1D6154;
  outline: none;
}

.add-photo-button {
  padding: 10px 20px;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 50%;
  margin-left: 25%;
  transition: background-color 0.3s;
}

.add-photo-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}


.modal-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0; /* Ajustez les marges selon vos besoins */
}

#photo-preview {
  display: none;
  max-width: 30%;
  height: auto;
}


/* Style pour la galerie d'images dans le modal */
.modal-gallery li {
  display: inline-block;
  width: calc(20% - 10px);
  margin: 5px;
  position: relative;
}

.modal-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}


/* Styles pour le bouton "modifier" */
#edit-button {
  display: none;
  display: flex;
  align-items: center;
  font-family: 'works', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  color: black;
  text-decoration: none;
  margin-left: 10px; /* Espace entre le texte "Mes Projets" et le bouton "modifier" */
  display: none;
}

#edit-button i {
  margin-right: 5px; /* Espace entre l'icône et le texte "modifier" */
}

#edit-button:hover {
  text-decoration: underline;
}

#portfolio h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}
